mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textAreaContainer 
            textarea#postTextarea(placeholder="What's in your mind?")
            .buttomsContainer 
                button#submitPostButtom Post 